.preview-container {

  .league-preview {
    background-image: url('../../img/57709-football-pitch--vector.svg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    height: 100px;
    text-align: center;
    padding: 24px;
    cursor: pointer;

  }
  .team-list {
    border: 1px solid black;
    img {
      height: 20px;
    }
  }
}